<!--detail.html-->
{%extends 'testapp/base.html'%}
{%block content%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="jumbotron">
  <div class="container">

<h1>DETAIL VIEW</h1>
<p>
<h1>Name of the product: {{object.name|title}}</h1>
<h1>Quantity: {{object.quantity|title}}</h1>
<h1>Image of the product:</h1><img src="{{object.imag.url}}" alt="not found">
<br><br>
<a class="btn btn-primary" href="/home" role="button">List Of Item</a>
</div>
</div>
{%endblock content%}
